In [16]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import sys
import seaborn as sns
sys.path.append('../src/')
sys.path.append('../src/exp_007')
from preprocess import read_data, get_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
X_train, y, group, X_test, submit = get_data()

../src/exp_007/preprocess.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_df['date'] = output_df['year'].astype(str) + '-' + output_df['month'].astype(str) + '-' + output_df['day'].astype(str)
../src/exp_007/preprocess.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_df['date'] = pd.to_datetime(output_df['date'])
../src/exp_007/preprocess.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_df['dayofweek'] = output_df['date'].dt.dayofweek.astype('category')
../src/exp_007/preprocess.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_df['is_holiday'] = 0
/home/yoshikawa/.pyenv/versions/3.7.10/envs/sony_pm25/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/home/yoshikawa/.pyenv/versions/3.7.10/envs/sony_pm25/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/home/yoshikawa/.pyenv/versions/3.7.10/envs/sony_pm25/lib/python3.7/site-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/home/yoshikawa/.pyenv/versions/3.7.10/envs/sony_pm25/lib/python3.7/site-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
../src/exp_007/preprocess.py:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_df['kmeans_cluster'] = self.kmeans_model.predict(output_df)
../src/exp_007/preprocess.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_df['kmeans_dist_'+str(i)] = dists.iloc[:, i]
/home/yoshikawa/.pyenv/versions/3.7.10/envs/sony_pm25/lib/python3.7/site-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
../src/exp_007/preprocess.py:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_df['kmeans_cluster'] = self.kmeans_model.predict(output_df)
../src/exp_007/preprocess.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_df['kmeans_dist_'+str(i)] = dists.iloc[:, i]

==================== start run blocks ====================
	- <preprocess.TargetEncodingBlock object at 0x7f223cabab50> 1.942[s]
	- <preprocess.TargetEncodingBlock object at 0x7f223cabaa10> 1.843[s]
	- <preprocess.CountEncodingBlock object at 0x7f22413ff350> 1.285[s]
	- <preprocess.AggBlock object at 0x7f223cabad90> 0.054[s]
run test = False 5.143[s]
==================== start run blocks ====================
	- <preprocess.TargetEncodingBlock object at 0x7f223cabab50> 0.071[s]
	- <preprocess.TargetEncodingBlock object at 0x7f223cabaa10> 0.062[s]
	- <preprocess.CountEncodingBlock object at 0x7f22413ff350> 0.115[s]
	- <preprocess.AggBlock object at 0x7f223cabad90> 0.008[s]
run test = True 0.263[s]

In [18]:
X_train.head()

,lat,lon,co_cnt,co_min,co_mid,co_max,co_var,o3_cnt,o3_min,o3_mid,...,o3_mid_max_date@AggBlock,o3_mid_min_date@AggBlock,so2_mid_mean_date@AggBlock,so2_mid_std_date@AggBlock,so2_mid_max_date@AggBlock,so2_mid_min_date@AggBlock,no2_mid_mean_date@AggBlock,no2_mid_std_date@AggBlock,no2_mid_max_date@AggBlock,no2_mid_min_date@AggBlock
0,-27.46794,153.02809,38,0.749,2.590,2.633,0.850,29,2.397,4.295,...,47.032,0.307,3.871229,2.835627,20.049,0.056,14.213569,8.127407,51.568,0.301
1,-12.46113,130.84185,47,2.594,3.181,4.828,1.208,49,3.092,7.572,...,47.032,0.307,3.871229,2.835627,20.049,0.056,14.213569,8.127407,51.568,0.301
2,-37.81400,144.96332,17,1.190,1.197,2.200,0.248,123,0.736,12.527,...,47.032,0.307,3.871229,2.835627,20.049,0.056,14.213569,8.127407,51.568,0.301
3,-32.92953,151.78010,63,4.586,11.044,14.802,24.186,90,1.917,14.141,...,47.032,0.307,3.871229,2.835627,20.049,0.056,14.213569,8.127407,51.568,0.301
4,-31.95224,115.86140,47,4.689,8.681,11.100,10.011,83,0.349,2.349,...,47.032,0.307,3.871229,2.835627,20.049,0.056,14.213569,8.127407,51.568,0.301

In [19]:
X_train.groupby('kmeans_cluster').count()

,lat,lon,co_cnt,co_min,co_mid,co_max,co_var,o3_cnt,o3_min,o3_mid,...,o3_mid_max_date@AggBlock,o3_mid_min_date@AggBlock,so2_mid_mean_date@AggBlock,so2_mid_std_date@AggBlock,so2_mid_max_date@AggBlock,so2_mid_min_date@AggBlock,no2_mid_mean_date@AggBlock,no2_mid_std_date@AggBlock,no2_mid_max_date@AggBlock,no2_mid_min_date@AggBlock
kmeans_cluster,,,,,,,,,,,,,,,,,,,,,
0,53323,53323,53323,53323,53323,53323,53323,53323,53323,53323,...,53323,53323,53323,53323,53323,53323,53323,53323,53323,53323
1,18390,18390,18390,18390,18390,18390,18390,18390,18390,18390,...,18390,18390,18390,18390,18390,18390,18390,18390,18390,18390
2,15091,15091,15091,15091,15091,15091,15091,15091,15091,15091,...,15091,15091,15091,15091,15091,15091,15091,15091,15091,15091
3,1548,1548,1548,1548,1548,1548,1548,1548,1548,1548,...,1548,1548,1548,1548,1548,1548,1548,1548,1548,1548
4,69893,69893,69893,69893,69893,69893,69893,69893,69893,69893,...,69893,69893,69893,69893,69893,69893,69893,69893,69893,69893
5,65,65,65,65,65,65,65,65,65,65,...,65,65,65,65,65,65,65,65,65,65
6,800,800,800,800,800,800,800,800,800,800,...,800,800,800,800,800,800,800,800,800,800
7,5627,5627,5627,5627,5627,5627,5627,5627,5627,5627,...,5627,5627,5627,5627,5627,5627,5627,5627,5627,5627
8,30414,30414,30414,30414,30414,30414,30414,30414,30414,30414,...,30414,30414,30414,30414,30414,30414,30414,30414,30414,30414
9,790,790,790,790,790,790,790,790,790,790,...,790,790,790,790,790,790,790,790,790,790

In [20]:
X_train[['kmeans_dist_'+str(i) for i in range(4)]+['kmeans_cluster']]

,kmeans_dist_0,kmeans_dist_1,kmeans_dist_2,kmeans_dist_3,kmeans_cluster
0,4.002289,8.196465,5.906641,21.653411,0
1,5.651273,8.339010,5.364150,21.876289,4
2,6.752867,8.989509,5.084029,21.357653,2
3,6.283763,8.246802,7.037652,21.245741,8
4,5.967874,8.338066,7.437897,21.212383,8
...,...,...,...,...,...
195936,5.268811,8.800740,6.358698,22.288925,4
195937,3.444905,7.930284,5.555520,21.616530,0
195938,3.116167,7.078505,6.516559,20.381658,0
195939,2.675870,6.869582,6.914374,20.103428,0
195940,4.394231,7.950067,5.915462,21.719474,4

In [28]:
X_train['date'] = X_train['year'].astype(str) + '-' + X_train['month'].astype(str) + '-' + X_train['day'].astype(str)
X_train['date'] = pd.to_datetime(X_train['date'])