In [3]:
%load_ext autoreload
%autoreload 2

import warnings
warnings.simplefilter('ignore')

import pandas as pd
import numpy as np
import sys
import seaborn as sns
sys.path.append('../src/')
sys.path.append('../src/exp_012')
from preprocess import read_data, get_data

In [4]:
X_train, y, group, X_test, submit = get_data()

==================== start run blocks ====================
	- <preprocess.NearbyCitiesFeatureBlock object at 0x7f9fcc171610> 0.192[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fcc0c9a10> 0.435[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9e06b50> 0.325[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780310> 0.325[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780350> 0.304[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780c90> 0.300[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780290> 0.324[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780c10> 0.391[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc97809d0> 0.305[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780390> 0.308[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780b90> 0.313[s]
	- <preprocess.TargetEncodingBlock object at 0x7f9fc97baad0> 1.454[s]
	- <preprocess.TargetEncodingBlock object at 0x7f9fcc06a3d0> 1.532[s]
	- <preprocess.CountEncodingBlock object at 0x7f9fcc073250> 0.924[s]
run test = False 7.479[s]
==================== start run blocks ====================
	- <preprocess.NearbyCitiesFeatureBlock object at 0x7f9fcc171610> 0.018[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fcc0c9a10> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9e06b50> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780310> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780350> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780c90> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780290> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780c10> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc97809d0> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780390> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7f9fc9780b90> 0.007[s]
	- <preprocess.TargetEncodingBlock object at 0x7f9fc97baad0> 0.041[s]
	- <preprocess.TargetEncodingBlock object at 0x7f9fcc06a3d0> 0.041[s]
	- <preprocess.CountEncodingBlock object at 0x7f9fcc073250> 0.079[s]
run test = True 0.265[s]

In [5]:
X_train.head()

,lat,lon,co_cnt,co_min,co_mid,co_max,co_var,o3_cnt,o3_min,o3_mid,...,TE_meanis_holiday@TargetEncodingBlock,TE_stdmonth@TargetEncodingBlock,TE_stdCountry@TargetEncodingBlock,TE_stddayofweek@TargetEncodingBlock,TE_stdis_holiday@TargetEncodingBlock,CE_year@CountEncodingBlock,CE_month@CountEncodingBlock,CE_day@CountEncodingBlock,CE_Country@CountEncodingBlock,CE_dayofweek@CountEncodingBlock
0,-27.46794,153.02809,38,0.749,2.590,2.633,0.850,29,2.397,4.295,...,59.330321,51.959459,27.064764,38.926034,38.848467,68285,13831,6474,3635,27700
1,-37.81400,144.96332,17,1.190,1.197,2.200,0.248,123,0.736,12.527,...,59.480130,50.907354,27.282343,38.548017,38.547449,68285,13831,6474,3635,27700
2,-32.92953,151.78010,63,4.586,11.044,14.802,24.186,90,1.917,14.141,...,59.279363,51.638930,22.661095,38.727758,38.696656,68285,13831,6474,3635,27700
3,-34.42400,150.89345,179,4.554,7.159,15.819,30.752,39,0.514,11.869,...,59.279363,51.638930,22.661095,38.727758,38.696656,68285,13831,6474,3635,27700
4,51.22047,4.40026,93,4.011,4.555,12.859,18.655,78,0.504,0.612,...,59.480130,50.907354,25.042350,38.548017,38.547449,68285,13831,6474,2773,27700

In [6]:
X_train.shape

(192457, 102)

In [7]:
from path_info import DATA_PATH, SAVE_PATH

nearby_cities_train = pd.read_pickle(SAVE_PATH+'/df_train_nearby_cities.pkl')
nearby_cities_test = pd.read_pickle(SAVE_PATH+'/df_test_nearby_cities.pkl')

In [8]:
rename = {i:f'{i}_nearby_City' for i in range(5)}
pd.read_pickle(SAVE_PATH+'/df_train_nearby_cities.pkl').head(5).T.reset_index().rename({'index':'City', **rename}, axis=1).astype('category')

,City,0_nearby_City,1_nearby_City,2_nearby_City,3_nearby_City,4_nearby_City
0,Adapazarı,İzmit,Eskişehir,Kütahya,Istanbul,Balıkesir
1,Akita,Sendai,Utsunomiya,Sapporo,Nagano,Tokyo
2,Albuquerque,El Paso,Denver,Phoenix,Chihuahua,Las Vegas
3,Andong,Pohang,Ulsan,Cheongju-si,Changwon,Daejeon
4,Antakya,Kayseri,Haifa,Konya,Netanya,Tel Aviv
...,...,...,...,...,...,...
234,Zhuzhou,Changsha,Nanchang,Guangzhou,Foshan,Yunfu
235,Ürümqi,Novosibirsk,Lhasa,Xining,Chandigarh,Muzaffarnagar
236,İzmit,Adapazarı,Istanbul,Eskişehir,Kütahya,Balıkesir
237,Łódź,Kielce,Warsaw,Kraków,Bydgoszcz,Tarnów
238,Ōita,Fukuoka,Miyazaki,Hiroshima,Nagasaki,Kochi

In [9]:
train, test, _ = read_data()
train = train[~train['City'].isin(['Ürümqi', 'Novosibirsk', 'Darwin', 'Perth'])].reset_index(drop=True)

In [10]:
X_train['City'] = train['City']

In [11]:
X_train.loc[X_train.City=='Akita', ['lat', 'lon']]

             lat        lon
82      39.71667  140.11667
271     39.71667  140.11667
467     39.71667  140.11667
657     39.71667  140.11667
847     39.71667  140.11667
...          ...        ...
191728  39.71667  140.11667
191896  39.71667  140.11667
192058  39.71667  140.11667
192212  39.71667  140.11667
192369  39.71667  140.11667

[978 rows x 2 columns]

In [16]:
from scipy.spatial import distance

for i in X_train['fold'].unique():
    trn_group_city = X_train[X_train['fold'] != i].groupby('City')[['lat', 'lon']].median().reset_index()
    trn_dist = distance.cdist(trn_group_city[['lat', 'lon']], trn_group_city[['lat', 'lon']], metric='euclidean')
    trn_dist = pd.concat([trn_group_city[['City']], pd.DataFrame(trn_dist, columns=trn_group_city['City'])], axis=1)

    df_trn_near_city = {}
    for city in trn_dist.City:
        df_trn_near_city[city] = trn_dist[['City', city]].sort_values(city).City.to_list()
    df_trn_near_city = pd.DataFrame(df_trn_near_city).drop(0).reset_index(drop=True)
    print(df_trn_near_city.head())

   Adapazarı       Akita    Albuquerque       Andong    Antakya  Antwerpen  \
0      İzmit      Sendai        El Paso       Pohang    Kayseri       Gent
1  Eskişehir  Utsunomiya        Phoenix        Ulsan      Haifa  Charleroi
2   Istanbul     Sapporo      Las Vegas  Cheongju-si      Konya    Haarlem
3  Balıkesir      Nagano  Oklahoma City     Changwon    Netanya      Liège
4      Konya       Tokyo      Monterrey      Daejeon  Jerusalem      Nancy

        Atlanta  Balıkesir Bandar Abbas        Bangkok  ...          Yazd  \
0  Jacksonville   Istanbul         Yazd  Nakhon Pathom  ...           Qom
1       Jackson      İzmit          Qom         Rayong  ...        Tehran
2       Raleigh  Eskişehir       Tehran     Chiang Mai  ...  Bandar Abbas
3       Detroit  Adapazarı  Khorramabad            Huế  ...   Khorramabad
4     Milwaukee      Konya       Zanjān          Hanoi  ...        Zanjān

       Yeosu  Yinchuan    Yokohama    Zagreb       Zanjān    Zenica  \
0   Suncheon    Xining       Tokyo      Pécs     Sanandaj     Tuzla
1   Changwon     Xi’an       Chiba      Győr       Tabriz      Pécs
2      Mokpo   Taiyuan  Utsunomiya    Zenica       Tehran    Zagreb
3    Daejeon   Chengdu    Shizuoka     Tuzla          Qom  Budapest
4  Jeju City  Xinxiang      Nagano  Budapest  Khorramabad      Győr

     Zhuzhou      İzmit       Łódź
0   Changsha  Adapazarı     Kielce
1   Nanchang   Istanbul     Warsaw
2  Guangzhou  Eskişehir  Bydgoszcz
3     Foshan  Balıkesir     Tarnów
4    Jieyang      Konya    Wrocław

[5 rows x 188 columns]
   Adapazarı    Akita    Albuquerque       Andong    Antakya       Atlanta  \
0      İzmit   Sendai        El Paso       Pohang      Haifa  Jacksonville
1  Eskişehir  Sapporo         Denver  Cheongju-si   Tel Aviv       Jackson
2    Kütahya   Nagano        Phoenix     Changwon  Jerusalem       Raleigh
3  Balıkesir    Tokyo      Chihuahua      Daejeon     Samsun  Indianapolis
4     Samsun    Chiba  Oklahoma City        Busan    Erzurum       Detroit

   Balıkesir Bandar Abbas     Bangkok          Barcelona  ...      Xi’an  \
0    Kütahya         Yazd   Chon Buri              Palma  ...  Zhengzhou
1      İzmit          Qom      Rayong           Valencia  ...   Xinxiang
2  Eskişehir       Tehran     Lampang          Marseille  ...    Taiyuan
3  Adapazarı  Khorramabad  Chiang Mai  Gasteiz / Vitoria  ...    Chengdu
4        Niš       Zanjān         Huế             Bilbao  ...   Changsha

           Yazd     Yeosu     Yunfu    Zagreb       Zanjān Zhengzhou  \
0           Qom  Suncheon    Foshan      Pécs     Sanandaj  Xinxiang
1        Tehran   Gwangju  Shenzhen     Tuzla       Tabriz   Taiyuan
2  Bandar Abbas  Changwon    Haikou  Budapest       Tehran     Jinan
3   Khorramabad     Busan   Jieyang  Novi Sad          Qom     Hefei
4        Zanjān   Daejeon   Shantou    Szeged  Khorramabad     Xi’an

       İzmit       Łódź       Ōita
0  Adapazarı     Kielce    Fukuoka
1  Eskişehir     Warsaw   Miyazaki
2    Kütahya     Kraków  Hiroshima
3  Balıkesir  Bydgoszcz      Kochi
4     Samsun     Tarnów  Kagoshima

[5 rows x 188 columns]
        Akita Albuquerque       Andong   Antakya  Antwerpen  Balıkesir  \
0  Utsunomiya     El Paso        Ulsan   Kayseri       Gent   Istanbul
1     Sapporo      Denver  Cheongju-si     Haifa  Charleroi    Kütahya
2       Tokyo     Phoenix     Changwon     Konya      Liège      İzmit
3      Toyama   Chihuahua      Daejeon   Netanya      Nancy  Eskişehir
4    Yokohama   Las Vegas        Busan  Tel Aviv      Mainz      Konya

           Barcelona      Beijing    Belfast           Bengaluru  ...  \
0              Palma  Qinhuangdao  Edinburgh            Thrissur  ...
1          Marseille        Jinan    Cardiff  Thiruvananthapuram  ...
2  Gasteiz / Vitoria     Xinxiang     Nantes       Visakhapatnam  ...
3             Madrid      Qingdao       Gent              Mumbai  ...
4             Nantes    Zhengzhou  Antwerpen              Bhopal  ...

     Yokohama      Yunfu    Zagreb       Zanjān    Zenica Zhengzhou  \
0       Tokyo     Foshan      Győr     Sanandaj     Tuzla  Xinxiang
1  Utsunomiya  Guangzhou    Zenica       Tabriz  Novi Sad     Jinan
2    Shizuoka   Shenzhen     Tuzla       Tehran    Zagreb     Xi’an
3      Toyama    Nanning  Budapest          Qom    Szeged   Nanjing
4    Gifu-shi    Jieyang  Novi Sad  Khorramabad  Budapest   Beijing

     Zhuzhou      İzmit       Łódź       Ōita
0   Nanchang   Istanbul     Kraków    Fukuoka
1  Guangzhou  Eskişehir  Bydgoszcz   Miyazaki
2     Foshan    Kütahya     Tarnów  Hiroshima
3      Yunfu  Balıkesir     Poznań   Nagasaki
4    Jieyang      Konya     Gdańsk  Kagoshima

[5 rows x 188 columns]
  Adapazarı       Akita  Albuquerque       Andong   Antakya  Antwerpen  \
0   Kütahya      Sendai       Denver       Pohang   Kayseri       Gent
1  Istanbul  Utsunomiya    Chihuahua        Ulsan     Haifa  Charleroi
2     Konya     Sapporo    Las Vegas  Cheongju-si     Konya    Haarlem
3   Kayseri      Nagano    Monterrey        Busan   Netanya      Liège
4    Samsun       Chiba  Los Angeles    Chuncheon  Tel Aviv      Nancy

        Atlanta Bandar Abbas        Bangkok          Barcelona  ...  \
0       Jackson         Yazd  Nakhon Pathom              Palma  ...
1       Raleigh  Khorramabad      Chon Buri           Valencia  ...
2  Indianapolis     Sanandaj         Rayong          Marseille  ...
3       Detroit       Tabriz        Lampang  Gasteiz / Vitoria  ...
4     Milwaukee  Gandhinagar            Huế             Bilbao  ...

    Xinxiang      Xi’an          Yazd   Yinchuan    Yokohama      Yunfu  \
0  Zhengzhou  Zhengzhou  Bandar Abbas     Xining       Chiba  Guangzhou
1    Taiyuan   Xinxiang   Khorramabad      Xi’an  Utsunomiya   Shenzhen
2      Jinan   Yinchuan      Sanandaj    Taiyuan    Shizuoka     Haikou
3      Hefei    Taiyuan        Tabriz   Xinxiang      Nagano    Nanning
4      Xi’an   Changsha       Erzurum  Zhengzhou      Toyama    Shantou

     Zenica Zhengzhou    Zhuzhou       Ōita
0     Tuzla  Xinxiang   Changsha    Fukuoka
1      Pécs   Taiyuan   Nanchang   Miyazaki
2  Novi Sad     Jinan  Guangzhou  Hiroshima
3    Szeged     Hefei      Yunfu   Nagasaki
4  Budapest     Xi’an   Shenzhen      Kochi

[5 rows x 188 columns]
   Adapazarı        Antwerpen        Atlanta  Balıkesir Bandar Abbas  \
0      İzmit        Charleroi   Jacksonville   Istanbul         Yazd
1  Eskişehir          Haarlem   Indianapolis    Kütahya          Qom
2    Kütahya            Liège        Detroit      İzmit       Tehran
3   Istanbul            Nancy  Oklahoma City  Eskişehir       Zanjān
4  Balıkesir  Southend-on-Sea     Saint Paul  Adapazarı  Gandhinagar

         Bangkok    Beijing          Belfast    Berlin             Bilbao  \
0  Nakhon Pathom      Jinan        Edinburgh  Szczecin  Gasteiz / Vitoria
1      Chon Buri    Taiyuan          Cardiff    Poznań             Oviedo
2         Rayong    Qingdao            Leeds   Wrocław             Madrid
3        Lampang  Zhengzhou  Southend-on-Sea    Gdańsk          Salamanca
4     Chiang Mai     Fushun           Nantes     Mainz             Nantes

   ...    Yokohama      Yunfu    Zagreb        Zanjān    Zenica Zhengzhou  \
0  ...       Tokyo     Foshan      Pécs        Tehran      Pécs   Taiyuan
1  ...       Chiba  Guangzhou      Győr           Qom  Novi Sad     Jinan
2  ...  Utsunomiya   Shenzhen    Zenica          Yazd    Zagreb     Hefei
3  ...    Shizuoka     Haikou  Novi Sad       Erzurum    Szeged   Beijing
4  ...      Nagano    Nanning    Szeged  Bandar Abbas      Győr  Nanchang

     Zhuzhou      İzmit     Łódź       Ōita
0   Changsha  Adapazarı   Kielce    Fukuoka
1   Nanchang   Istanbul   Warsaw   Miyazaki
2  Guangzhou  Eskişehir   Kraków  Hiroshima
3     Foshan    Kütahya   Tarnów   Nagasaki
4      Yunfu  Balıkesir  Wrocław      Kochi

[5 rows x 188 columns]