In [38]:
%load_ext autoreload
%autoreload 2

import warnings
warnings.simplefilter('ignore')

import pandas as pd
import numpy as np
import sys
import seaborn as sns
sys.path.append('../src/')
sys.path.append('../src/exp_013')
from preprocess import read_data, get_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [39]:
X_train, y, group, X_test, submit = get_data()

==================== start run blocks ====================
	- <preprocess.YLagLeadBlock object at 0x7fa8b2eed910> 0.275[s]
	- <preprocess.YLagLeadBlock object at 0x7fa9052f8f10> 0.237[s]
	- <preprocess.YLagLeadBlock object at 0x7fa9052f8dd0> 0.241[s]
	- <preprocess.YLagLeadBlock object at 0x7fa9052f8d10> 0.241[s]
	- <preprocess.YLagLeadBlock object at 0x7fa900f87190> 0.240[s]
	- <preprocess.YLagLeadBlock object at 0x7fa803af8b90> 0.236[s]
	- <preprocess.YLagLeadBlock object at 0x7fa7aba51410> 0.239[s]
	- <preprocess.YLagLeadBlock object at 0x7fa8009fee90> 0.241[s]
	- <preprocess.YLagLeadBlock object at 0x7fa803a93110> 0.243[s]
	- <preprocess.YLagLeadBlock object at 0x7fa900f879d0> 0.233[s]
	- <preprocess.TargetEncodingBlock object at 0x7fa8fe1309d0> 1.520[s]
	- <preprocess.TargetEncodingBlock object at 0x7fa8fe130950> 1.533[s]
	- <preprocess.CountEncodingBlock object at 0x7fa7c9b06790> 0.294[s]
run test = False 5.812[s]
==================== start run blocks ====================
	- <preprocess.YLagLeadBlock object at 0x7fa8b2eed910> 0.017[s]
	- <preprocess.YLagLeadBlock object at 0x7fa9052f8f10> 0.008[s]
	- <preprocess.YLagLeadBlock object at 0x7fa9052f8dd0> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7fa9052f8d10> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7fa900f87190> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7fa803af8b90> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7fa7aba51410> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7fa8009fee90> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7fa803a93110> 0.007[s]
	- <preprocess.YLagLeadBlock object at 0x7fa900f879d0> 0.007[s]
	- <preprocess.TargetEncodingBlock object at 0x7fa8fe1309d0> 0.063[s]
	- <preprocess.TargetEncodingBlock object at 0x7fa8fe130950> 0.064[s]
	- <preprocess.CountEncodingBlock object at 0x7fa7c9b06790> 0.028[s]
run test = True 0.251[s]

In [40]:
X_train.head()

,lat,lon,co_cnt,co_min,co_mid,co_max,co_var,o3_cnt,o3_min,o3_mid,...,TE_mean_is_holiday@TargetEncodingBlock,TE_std_month@TargetEncodingBlock,TE_std_Country@TargetEncodingBlock,TE_std_dayofweek@TargetEncodingBlock,TE_std_is_holiday@TargetEncodingBlock,CE_year@CountEncodingBlock,CE_month@CountEncodingBlock,CE_day@CountEncodingBlock,CE_Country@CountEncodingBlock,CE_dayofweek@CountEncodingBlock
0,-27.46794,153.02809,38,0.749,2.590,2.633,0.850,29,2.397,4.295,...,59.330321,51.959459,27.064764,38.926034,38.848467,2019,1,1,3635,27700
1,-37.81400,144.96332,17,1.190,1.197,2.200,0.248,123,0.736,12.527,...,59.480130,50.907354,27.282343,38.548017,38.547449,2019,1,1,3635,27700
2,-32.92953,151.78010,63,4.586,11.044,14.802,24.186,90,1.917,14.141,...,59.279363,51.638930,22.661095,38.727758,38.696656,2019,1,1,3635,27700
3,-34.42400,150.89345,179,4.554,7.159,15.819,30.752,39,0.514,11.869,...,59.279363,51.638930,22.661095,38.727758,38.696656,2019,1,1,3635,27700
4,51.22047,4.40026,93,4.011,4.555,12.859,18.655,78,0.504,0.612,...,59.480130,50.907354,25.042350,38.548017,38.547449,2019,1,1,2773,27700

In [41]:
X_test.head()

,lat,lon,co_cnt,co_min,co_mid,co_max,co_var,o3_cnt,o3_min,o3_mid,...,TE_mean_is_holiday@TargetEncodingBlock,TE_std_month@TargetEncodingBlock,TE_std_Country@TargetEncodingBlock,TE_std_dayofweek@TargetEncodingBlock,TE_std_is_holiday@TargetEncodingBlock,CE_year@CountEncodingBlock,CE_month@CountEncodingBlock,CE_day@CountEncodingBlock,CE_Country@CountEncodingBlock,CE_dayofweek@CountEncodingBlock
0,-34.92866,138.59863,155,0.091,0.101,0.195,0.003,167,0.000,0.000,...,59.317855,51.047386,26.154540,38.43971,38.374781,2019,1,1,3635,27700
1,-33.86785,151.20732,23,1.037,2.272,3.391,1.347,142,7.797,34.414,...,59.317855,51.047386,26.154540,38.43971,38.374781,2019,1,1,3635,27700
2,50.85045,4.34878,28,0.096,0.101,0.104,0.000,114,7.064,16.576,...,59.317855,51.047386,28.259110,38.43971,38.374781,2019,1,1,2773,27700
3,43.84864,18.35644,122,0.479,4.589,16.560,60.820,118,0.513,22.445,...,59.317855,51.047386,42.442122,38.43971,38.374781,2019,1,1,921,27700
4,-23.17944,-45.88694,158,6.198,13.478,20.327,36.498,129,1.063,1.845,...,59.317855,51.047386,28.792079,38.43971,38.374781,2019,1,1,2013,27700

In [42]:
X_train['date'] = X_train['year'].astype(str) + '-' + X_train['month'].astype(str) + '-' + X_train['day'].astype(str)
X_train['date'] = pd.to_datetime(X_train['date'])

In [43]:
X_test['date'] = X_test['year'].astype(str) + '-' + X_test['month'].astype(str) + '-' + X_test['day'].astype(str)
X_test['date'] = pd.to_datetime(X_test['date'])

In [44]:
X_train.columns.nunique() == len(X_train.columns)

True

In [45]:
X_test.columns.nunique() == len(X_test.columns)

True

In [46]:
def list_difference(list1, list2):
    result = list1.copy()
    for value in list2:
        if value in result:
            result.remove(value)

    return result

In [47]:
list_difference(list(X_test.columns), list(X_test.columns.unique()))

[]

In [48]:
X_train['TE_mean_month@TargetEncodingBlock']

0         78.298850
1         77.595709
2         77.708868
3         77.708868
4         77.595709
            ...
192452    70.997655
192453    72.107892
192454    72.911956
192455    72.911956
192456    72.157053
Name: TE_mean_month@TargetEncodingBlock, Length: 192457, dtype: float64

In [50]:
X_train.select_dtypes('category')

       dayofweek        Country kmeans_cluster
0              1      Australia              7
1              1      Australia              2
2              1      Australia              4
3              1      Australia              4
4              1        Belgium              1
...          ...            ...            ...
192452         4  United States              1
192453         4  United States              7
192454         4  United States              7
192455         4        Vietnam              7
192456         4        Vietnam              1

[192457 rows x 3 columns]

In [49]:
# X_train[X_train.select_dtypes('category').columns] = X_train.select_dtypes('category').astype(str)
# X_test[X_test.select_dtypes('category').columns] = X_test.select_dtypes('category').astype(str)
# X_train['date'] = X_train['date'].astype('str')
# X_test['date'] = X_test['date'].astype('str')
# import sweetviz as sv
# report = sv.compare([X_train, 'train'], [X_test, 'test'])
# report.show_html('../data/train_vs_test.html')